div{ border:  3px solid brown;
	font-size: 20px
	background-color: brown;
    width: 1230px;
    }

#b1{ width: 1200px;
     height: 190px;
     background-color: brown;
     margin: 10px;
     margin-bottom: 20px;
     clear: both; }

#b2{ border: 3px solid black;
     width: 50%;
     height: 870px;
     float: left; }

#b3{ background-color: yellow;
     border: 3px solid black;
     width: 560px;
     height: 600px;
     padding: 20px;
 }

#b4{ background-color: red;
     border: 3px solid black; 
     width: 560px;
     height: 180px;
     clear: both;
     margin: 10px;
     padding: 20px;
     background-image: url(Daruma__Katsuoji-e1472186201515-700x400.jpg);
     background-size: 390px 170px;
     background-position-x: 10px;
     background-position-y: 10px;
     background-repeat: no-repeat;}

#b5{ background-color: blue;
     border: 3px solid black; 
     width: 460px;
     height: 840px;
     float: right;
     margin: 10px;
     padding: 20px;}


#b6{ background-color: green;
     border: 3px solid black;
     width: 1200px;
     height: 190px;
     margin: 10px;
    clear: both;}
