div{ border:  3px solid brown;
	font-size: 30px
	background-color: brown;}

#b1{  margin: 10px;
    background-color: brown; 
    }

#b2{ width: 1200px;
     height: 190px;
     background-color: brown;
     margin: 10px;
     margin-bottom: 20px; }


#b3{width:50%;
     float:left;
background-color: yellow;
margin-bottom: 70px}


#b4{width:50%;
background-color: blue;
text-align: center;}


#b5{width:40%;

      float: right;
background-color: grey;
    }


#b6{ width:100%;
	background-color: green;
  clear: both;
    }}